<div class="d-flex flex-column">
  <%= link_to 'Εισαγωγή ρούχου', new_cloth_path, class: 'btn btn-primary mb-3' %>
  <%= link_to 'Προβολή ολών των ρούχων', cloths_path, class: 'btn btn-primary mb-3' %>
  <%= link_to 'Προσθήκη χρώματος', new_color_path, class: 'btn btn-primary mb-3' %>
</div>
