<div class="d-flex flex-column">
  <%= link_to 'Εισαγωγή ρούχου', new_cloth_path, class: 'btn btn-primary mb-4' %>
  <%= link_to 'Νέο χρώμα', new_color_path, class: 'btn btn-primary mb-4' %>
  <%= link_to 'Νέο ράφι', new_shelf_path, class: 'btn btn-primary mb-4' %>
  <%= link_to 'Νέος τύπος ρούχου', new_type_path, class: 'btn btn-primary mb-4' %>
</div>
