<% @types.each do |type| %>
  <p><%= type.name %></p>
<% end %>

<% @shelves.each do |shelf| %>
  <p><%= shelf.name %></p>
<% end %>

<% @colors.each do |color| %>
  <p><%= color.name %></p>
<% end %>
