<div class="container-fluid mw-100 min-vh-100 d-flex flex-column">
  <div class="header col-sm-8 offset-sm-2 col-md-8 col-lg-6 col-xl-4">
    ΑΠΑΡΑΜΙΛΛΟ
    <div class="header-text">
      <br>
      Απαράμιλλη καθαριότητα και περιποίηση που επιτυγχάνεται με φυσική αφαίρεση
      λεκέδων και προστασία κατά της διάβρωσης των ρούχων.
    </div>
  </div>
  <div class="box-container">
    <div class="col-0 col-sm-2 col-md-2 col-xl-2"></div>
      <% if user_signed_in? %>
        <%= render "singed_in_user" %>
      <% end %>
    <div class="col-0 col-sm-2 col-md-2 col-xl-2"></div>
  </div>
</div>
<div class="d-flex justify-content-around pt-5">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://st2.depositphotos.com/3045469/7822/v/450/depositphotos_78225880-stock-illustration-delivery-truck-sketch.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div>
  fix
  </div>

  <div>
  fix
  </div>
</div>