
<div class="d-flex flex-column">
  <%= link_to 'Προσθήκη ρούχου', new_cloth_path, class: 'btn btn-primary mb-3' %>
  <%= link_to 'Προβολή ολών των ρούχων', cloths_path, class: 'btn btn-primary mb-3' %>
  <%= link_to 'Μετάβαση στις προσθήκες', managment_main_path, class: 'btn btn-primary mb-3' %>
</div>
