// Place all the styles related to the shelves controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container-shelves {
  background-color: #cccccc;
  background-image: url("shelves.jpg");
  background-size: cover;
}
 .shelf-box {
   height: 100%;
   // color: white;
   margin: 5px;
   background-color: white;
   border-radius: 5px;
   margin-top: 25px;
 }

.shelf-items {
  margin: 5px 5px;

  border-top: 1px solid lightgray;
}
