<% unless @cloths.empty? %>
  <% @cloths.each do |cloth| %>
    <%=cloth.user.email %>
    <h3><%= cloth.type.name %></h3>
  <% end %>
<% else %>
  <h2>Δεν υπάρχουν ρούχα αυτή τη στιγμή</h2>
<% end %>
